<a href="https://colab.research.google.com/github/jossxopa/Pandas_transformacion_manipulacion_de_datos/blob/main/Pandas_transformacion_manipulacion_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd

In [27]:
datos = pd.read_json("datos_hosting.json")
datos

                                       info_inmuebles
0   {'evaluacion_general': '10.0', 'experiencia_lo...
1   {'evaluacion_general': '10.0', 'experiencia_lo...
2   {'evaluacion_general': '10.0', 'experiencia_lo...
3   {'evaluacion_general': '10.0', 'experiencia_lo...
4   {'evaluacion_general': '10.0', 'experiencia_lo...
..                                                ...
65  {'evaluacion_general': 'nan', 'experiencia_loc...
66  {'evaluacion_general': 'nan', 'experiencia_loc...
67  {'evaluacion_general': 'nan', 'experiencia_loc...
68  {'evaluacion_general': 'nan', 'experiencia_loc...
69  {'evaluacion_general': 'nan', 'experiencia_loc...

[70 rows x 1 columns]

In [28]:
datos = pd.json_normalize(datos['info_inmuebles'])
datos

,evaluacion_general,experiencia_local,max_hospedes,descripcion_local,descripcion_vecindad,cantidad_baños,cantidad_cuartos,cantidad_camas,modelo_cama,comodidades,cuota_deposito,cuota_limpieza,precio
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,[New modern house built in 2013. Spectacular ...,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]
3,10.0,--,12,[Our NW style home is 3200+ sq ft with 3 level...,[The Views from our top floor! Wallingford ha...,"[3, 3, 3, 3, 3, 3, 3, 3]","[6, 6, 5, 5, 5, 5, 4, 4]","[6, 6, 7, 8, 7, 7, 6, 6]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ...","[$490.00, $550.00, $350.00, $350.00, $350.00, ..."
4,10.0,--,14,"[Perfect for groups. 2 bedrooms, full bathroom...",[Safeway grocery store within walking distance...,"[2, 3]","[2, 6]","[3, 9]","[Real Bed, Real Bed]","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$300.00, $2,000.00]","[$40.00, $150.00]","[$200.00, $545.00]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,nan,--,5,[Our cozy little bungalow is the perfect place...,[The Queen Anne neighborhood is one of the mos...,"[1, 3, 2, 2, 2, 1, 2, 1, 1, 1, 2, 3, 2, 2, 2, ...","[2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, ...","[3, 2, 2, 3, 3, 2, 3, 2, 2, 3, 3, 3, 2, 3, 2, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{""Cable TV"",""Wireless Internet"",Kitchen,""Free...","[$250.00, $200.00, $0, $0, $0, $200.00, $350.0...","[$35.00, $50.00, $100.00, $100.00, $0, $30.00,...","[$150.00, $200.00, $143.00, $150.00, $350.00, ..."
66,nan,--,6,[Bright clean 2 bedroom 1 bath appartment in t...,[Ballard is the most interesting and ecclectic...,"[1, 1, 3, 2, 1, 3, 2, 2, 1, 2, 2, 2, 1, 2, 1, ...","[2, 3, 3, 2, 2, 3, 2, 3, 2, 2, 2, 2, 4, 3, 3, ...","[3, 3, 2, 3, 3, 3, 2, 3, 3, 3, 2, 2, 4, 4, 3, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,""Wireless Internet"",K...","[$200.00, $200.00, $100.00, $0, $0, $750.00, $...","[$0, $0, $100.00, $0, $75.00, $140.00, $112.00...","[$99.00, $185.00, $250.00, $200.00, $275.00, $..."
67,nan,--,7,[Beautiful end-unit townhome with lots of dayl...,"[Cherry blossoms (Sakura) in the spring, every...","[4, 3, 1, 2, 2, 1, 2, 1, 2, 2]","[3, 4, 3, 3, 3, 3, 3, 3, 3, 4]","[3, 5, 1, 5, 3, 2, 3, 4, 4, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$750.00, $350.00, $500.00, $500.00, $0, $200....","[$300.00, $90.00, $250.00, $100.00, $109.00, $...","[$218.00, $350.00, $450.00, $149.00, $99.00, $..."
68,nan,--,8,[Heart of Ballard new townhome with 4 BRs + ba...,"[--, --, The suite is conveniently located off...","[2, 2, 3, 1, 1, 2, 1, 3, 2, 1, 2, 1, 2, 2, 2, ...","[4, 2, 3, 4, 3, 3, 4, 4, 3, 5, 2, 3, 3, 4, 5, ...","[4, 4, 3, 3, 5, 5, 5, 5, 3, 5, 4, 5, 5, 4, 1, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",""Air Conditi...","[$500.00, $150.00, $250.00, $800.00, $0, $500....","[$50.00, $85.00, $150.00, $75.00, $100.00, $80...","[$275.00, $199.00, $400.00, $325.00, $300.00, ..."
69,nan,--,9,[This business-themed modern home features: *...,[Your hosts made Madison Valley their home whe...,"[2, 1]","[3, 4]","[6, 6]","[Real Bed, Real Bed]","[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00, $500.00]","[$150.00, $0]","[$250.00, $350.00]"

## Extraer datos que estan en cojunto en una misma columna

Usaremos el método explode, que nos permitirá explotar cada elemento que esta almancenado en una lista.

In [29]:
columnas = (datos.columns)
columnas

Index(['evaluacion_general', 'experiencia_local', 'max_hospedes',
       'descripcion_local', 'descripcion_vecindad', 'cantidad_baños',
       'cantidad_cuartos', 'cantidad_camas', 'modelo_cama', 'comodidades',
       'cuota_deposito', 'cuota_limpieza', 'precio'],
      dtype='object')

In [30]:
datos = datos.explode(columnas[3:].tolist())  # Le decimos que extraiga la información de la columnas, comenzando de la 3 en adelante
datos

,evaluacion_general,experiencia_local,max_hospedes,descripcion_local,descripcion_vecindad,cantidad_baños,cantidad_cuartos,cantidad_camas,modelo_cama,comodidades,cuota_deposito,cuota_limpieza,precio
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
0,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
0,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
0,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
0,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,nan,--,8,Beautiful craftsman home in the historic Wedgw...,--,3,4,5,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...","$1,000.00",$178.00,$299.00
68,nan,--,8,Located in a very easily accessible area of Se...,"Quiet, dead end street near I-5. The proximity...",2,4,4,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",$0,$99.00,$199.00
68,nan,--,8,This home is fully furnished and available wee...,--,1,3,4,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",$0,$0,$400.00
69,nan,--,9,This business-themed modern home features: *H...,Your hosts made Madison Valley their home when...,2,3,6,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...","$1,000.00",$150.00,$250.00
69,nan,--,9,This welcoming home is in the quiet residentia...,"Despite the quiet, leafy streets of this resid...",1,4,6,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$500.00,$0,$350.00


El resultado:

Se habrán extraído los datos que estaban en lista, más no el diccionario.
Al extraer los datos que estaban en una misma fila, se duplica el número de indice que le correspondia originalmente
Por lo anterior, es necesario 'resetear' el indice para que cada dato tenga uno diferente.

## Reestablecer el índice del DF

Al reestablecer, cada dato ya toma un índice propio

In [31]:
datos.reset_index(drop=True, inplace=True) #Inplace = actualizar en el mismo df y drop para eliminar y porner el nuevo
datos

,evaluacion_general,experiencia_local,max_hospedes,descripcion_local,descripcion_vecindad,cantidad_baños,cantidad_cuartos,cantidad_camas,modelo_cama,comodidades,cuota_deposito,cuota_limpieza,precio
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
1,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
2,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
3,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
4,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,nan,--,8,Beautiful craftsman home in the historic Wedgw...,--,3,4,5,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...","$1,000.00",$178.00,$299.00
3814,nan,--,8,Located in a very easily accessible area of Se...,"Quiet, dead end street near I-5. The proximity...",2,4,4,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",$0,$99.00,$199.00
3815,nan,--,8,This home is fully furnished and available wee...,--,1,3,4,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",$0,$0,$400.00
3816,nan,--,9,This business-themed modern home features: *H...,Your hosts made Madison Valley their home when...,2,3,6,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...","$1,000.00",$150.00,$250.00
3817,nan,--,9,This welcoming home is in the quiet residentia...,"Despite the quiet, leafy streets of this resid...",1,4,6,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$500.00,$0,$350.00

In [32]:
"""
El resultado:

Se habrán extraído los datos que estaban en lista, más no el diccionario.
Al extraer los datos que estaban en una misma fila, se duplica el número de indice que le correspondia originalmente
Por lo anterior, es necesario 'resetear' el indice para que cada dato tenga uno diferente.
"""
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   evaluacion_general    3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   object
 3   descripcion_local     3818 non-null   object
 4   descripcion_vecindad  3818 non-null   object
 5   cantidad_baños        3818 non-null   object
 6   cantidad_cuartos      3818 non-null   object
 7   cantidad_camas        3818 non-null   object
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  cuota_deposito        3818 non-null   object
 11  cuota_limpieza        3818 non-null   object
 12  precio                3818 non-null   object
dtypes: object(13)
memory usage: 387.9+ KB

## Cambiar el tipo de dato

El dataframe tiene datos tanto strings como númerico por lo que es necesario darle el valor de tipo de dato correcto, ya que si lo dejamos así no podremos manipular los datos.

Object significa: Para python es un "no sé que tipo de dato es o es un string".

* 1. Importar Numpy: cuando trabajamos con número es necesario usar Numpy
* 2. Asegurarnos que los datos se guarden, por lo que debemos guardarlo directamente en la columna.
* 3. Analicemos nuestros datos para ahorrar tiempo y líneas podemos guardar en una variable los datos que pertenecen al mismo tipo de valor y con ello ejecutar una línea que solicite el cambio de valor.
* 4. Hay columnas que tienen un dato float y un caracter, en este caso el signo de dolar, por lo que no se podrá cambiar con el método .astype(np.float64)

In [33]:
import numpy as np

In [34]:
datos['max_hospedes'] = datos['max_hospedes'].astype(np.int64)

# el primer datos['max_hospedes'] es para que ya se guarde directamente en la columna que queremos cambiar el tipo de dato
# de lo contrario no se guardara.

In [35]:
# Verificamos que los datos cambiaros

datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   evaluacion_general    3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descripcion_local     3818 non-null   object
 4   descripcion_vecindad  3818 non-null   object
 5   cantidad_baños        3818 non-null   object
 6   cantidad_cuartos      3818 non-null   object
 7   cantidad_camas        3818 non-null   object
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  cuota_deposito        3818 non-null   object
 11  cuota_limpieza        3818 non-null   object
 12  precio                3818 non-null   object
dtypes: int64(1), object(12)
memory usage: 387.9+ KB

In [36]:
# Hacerlo en conjunto
columnas_numericas_int = ["cantidad_baños","cantidad_cuartos","cantidad_camas"]

datos[columnas_numericas_int] = datos[columnas_numericas_int].astype(np.int64)
# Esta funciona como una "iteración" es decir que asignara el valor int a cada elemento de la lista, ese orden.
# Solo se cambiaron valores de las columnas que tenían que cambiar a valor entero

In [37]:
# Verificamos el cambio
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   evaluacion_general    3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descripcion_local     3818 non-null   object
 4   descripcion_vecindad  3818 non-null   object
 5   cantidad_baños        3818 non-null   int64
 6   cantidad_cuartos      3818 non-null   int64
 7   cantidad_camas        3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  cuota_deposito        3818 non-null   object
 11  cuota_limpieza        3818 non-null   object
 12  precio                3818 non-null   object
dtypes: int64(4), object(9)
memory usage: 387.9+ KB

In [38]:
# Cambio a float

datos["evaluacion_general"] = datos["evaluacion_general"].astype(np.float64)

In [39]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   evaluacion_general    3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descripcion_local     3818 non-null   object
 4   descripcion_vecindad  3818 non-null   object
 5   cantidad_baños        3818 non-null   int64
 6   cantidad_cuartos      3818 non-null   int64
 7   cantidad_camas        3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  cuota_deposito        3818 non-null   object
 11  cuota_limpieza        3818 non-null   object
 12  precio                3818 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 387.9+ KB

### Covertir datos númericos y strings (en cojunto)

In [40]:
datos['precio'] = datos['precio'].apply(lambda x: x.replace("$","").replace(",","").strip()) #esto solo quita el string, aún no hay cambio de tipo de valor

# Esta línea dice: de mi columna precio, aplica lo siguiente, por cada x (cada valor de lo que hay en precio) reemplaza "$" por "" (nada), y reemplaza "," por "" (nada). Tambien elimina espacios (strip)
# Nota, podemos usar los replace que queramos en una misma fila.

datos['precio'] = datos["precio"].astype(np.float64) # con esto ya se guarda como float

In [41]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   evaluacion_general    3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descripcion_local     3818 non-null   object
 4   descripcion_vecindad  3818 non-null   object
 5   cantidad_baños        3818 non-null   int64
 6   cantidad_cuartos      3818 non-null   int64
 7   cantidad_camas        3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  cuota_deposito        3818 non-null   object
 11  cuota_limpieza        3818 non-null   object
 12  precio                3818 non-null   float64
dtypes: float64(2), int64(4), object(7)
memory usage: 387.9+ KB

### Multiples cambios en uno solo

El método apply solo funciona para series (para un sola linea de datos) por lo que no se podría utilizar con más de dos columnas.

Apply es para series
y el método para dataframes (más de dos columnas): **applymap**

In [43]:
datos[["cuota_deposito","cuota_limpieza"]] = datos[["cuota_deposito","cuota_limpieza"]].applymap(lambda x: x.replace("$","").replace(",","").strip()) #esto solo quita el string, aún no hay cambio de tipo de valor

/tmp/ipython-input-6846/238967630.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  datos[["cuota_deposito","cuota_limpieza"]] = datos[["cuota_deposito","cuota_limpieza"]].applymap(lambda x: x.replace("$","").replace(",","").strip()) #esto solo quita el string, aún no hay cambio de tipo de valor

In [45]:
# Guardamos los datos en las columnas y verificamos que ya se haya cambiado a float.
datos[["cuota_deposito","cuota_limpieza"]] = datos[["cuota_deposito","cuota_limpieza"]].astype(np.float64)
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   evaluacion_general    3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descripcion_local     3818 non-null   object
 4   descripcion_vecindad  3818 non-null   object
 5   cantidad_baños        3818 non-null   int64
 6   cantidad_cuartos      3818 non-null   int64
 7   cantidad_camas        3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  cuota_deposito        3818 non-null   float64
 11  cuota_limpieza        3818 non-null   float64
 12  precio                3818 non-null   float64
dtypes: float64(4), int64(4), object(5)
memory usage: 387.9+ KB

## Datos de texto

Podemos extraer palabras que nos pueda dar un valor, ejemplo "Maravilloso", "Horrible" a eso se le llama tokenización. Vamos a separar el texto por palabras.

Que palabras ayudan a la valorización del proyecto.
Usaremos el método **regex** para limpiar datos, eliminando caracteres para una correcta extracción de información y esta pueda ser valorizada.

In [49]:
# Paso 1: convertir los datos de texto en strings y en minúscula para poder trabajar.

datos["descripcion_local"] = datos["descripcion_local"].str.lower() #str le decimos a python que es de tipo string y lower que lo pase a minúscula.
datos.head() #observamos que el texto ya esta en minúscula

,evaluacion_general,experiencia_local,max_hospedes,descripcion_local,descripcion_vecindad,cantidad_baños,cantidad_cuartos,cantidad_camas,modelo_cama,comodidades,cuota_deposito,cuota_limpieza,precio
0,10.0,--,1,this clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,0.0,110.0
1,10.0,--,1,our century old upper queen anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,45.0
2,10.0,--,1,cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,55.0
3,10.0,--,1,very lovely and cozy room for one. convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,20.0,52.0
4,10.0,--,1,the “studio at mibbett hollow' is in a beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",0.0,15.0,85.0

#### Eliminar caracteres especiales con regex:

El objetivo es eliminar caracteres especiales que no aportan valor para el análisis de datos, como comas, puntos, signos de interrogación, etc.

Se utilizará **str.replace** junto con regex para eliminar caracteres no deseados

Aquí, se utiliza **str.replace** junto con una expresión regular para eliminar todos los caracteres que no sean letras (mayúsculas y minúsculas), números, guiones o comillas simples.

* **[^a-zA-Z0-9\-\']**: Esta es la expresión regular.
* El **^** dentro de los corchetes significa "todo lo que no sea". a-zA-Z representa todas las letras mayúsculas y minúsculas, 0-9 representa todos los números, \- representa un guión (debe estar dentro de una barra invertida) y \' representa una comilla simple (también escapada).
* **' '**: Este es el carácter de reemplazo, en este caso un espacio en blanco.
* **regex=True:** Este parámetro indica que se está utilizando una expresión regular.

####  Eliminar guiones aislados con regex:

'(\W)-(\W)'

**(\W)-(\W):** Esta es la expresión regular.
* **\W ** representa cualquier carácter que no sea una letra, número o guión bajo. Los paréntesis se utilizan para crear grupos de captura, pero en este caso no se utilizan para nada más. En otras palabras, si la pabrala no tiene otra palabra pegada a su derecha o izquiera no borra el guion, pero en caso de que no exista alguna a lado, sí la eliminará

In [54]:
datos['descripcion_local'] = datos['descripcion_local'].str.replace("[^a-zA-Z0-9-\']"," ",regex = True)
datos['descripcion_local'] = datos['descripcion_local'].str.replace("(\W)-(\W)", " ",regex = True)

datos['descripcion_local'][3169]
#Observamos que elimino caracteres.

<>:2: SyntaxWarning: invalid escape sequence '\W'
<>:2: SyntaxWarning: invalid escape sequence '\W'
/tmp/ipython-input-6846/2153841970.py:2: SyntaxWarning: invalid escape sequence '\W'
  datos['descripcion_local'] = datos['descripcion_local'].str.replace("(\W)-(\W)", " ",regex = True)

"built  run and supported by seattle tech and start up veterans  grokhome's focus is to create a supportive environment for smart people working on interesting projects  start ups and more  this listing is an upper bunk  in a 2-person shared room   note  this fall  there will be major renovations happening on one kitchen and bathroom at a time  there will always be two other working kitchens and two working bathrooms in the house  we'll work to minimize the impact these renovations have on your stay    this listing is only available to those working in the tech science space  live in a hacker house  and immerse yourself in the seattle tech scene  you can expect to be surrounded by smart people solving big problems or working on something fun  we have frequent demo nights  and love when our guests share something they are passionate about  if you're new to the city  our deep ties to the seattle tech scene can help you get involved  expand your network  develop your ideas  and learn somet"

In [55]:
datos.head()

,evaluacion_general,experiencia_local,max_hospedes,descripcion_local,descripcion_vecindad,cantidad_baños,cantidad_cuartos,cantidad_camas,modelo_cama,comodidades,cuota_deposito,cuota_limpieza,precio
0,10.0,--,1,this clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,0.0,110.0
1,10.0,--,1,our century old upper queen anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,45.0
2,10.0,--,1,cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,55.0
3,10.0,--,1,very lovely and cozy room for one convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,20.0,52.0
4,10.0,--,1,the studio at mibbett hollow' is in a beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",0.0,15.0,85.0

### Tokenizacion de strings

El proceso de tokenización implica dividir una frase o texto en unidades más pequeñas, conocidas como tokens, que generalmente son palabras individuales.
Esto es útil para el análisis de texto y el machine learning, donde cada palabra puede ser tratada como una característica.

Utilizamos el método **split()** para separar frases en palabras, aprovechando el espacio como delimitador natural.
Por defecto, split() usa el espacio en blanco como separador si no se especifica otro carácter (por ejemplo una ",")

In [56]:
# Vamos a tokenizar la columna descripcion_local

datos['descripcion_local'].str.split() #vemos que ya no estan separada por espacios, sino por coma.

# Aplica la función split() a cada elemento de la columna, dividiendo cada frase en una lista de palabras donde el separador es el espacio en blanco (por defecto).

0       [this, clean, and, comfortable, one, bedroom, ...
1       [our, century, old, upper, queen, anne, house,...
2       [cozy, room, in, two-bedroom, apartment, along...
3       [very, lovely, and, cozy, room, for, one, conv...
4       [the, studio, at, mibbett, hollow', is, in, a,...
                              ...
3813    [beautiful, craftsman, home, in, the, historic...
3814    [located, in, a, very, easily, accessible, are...
3815    [this, home, is, fully, furnished, and, availa...
3816    [this, business-themed, modern, home, features...
3817    [this, welcoming, home, is, in, the, quiet, re...
Name: descripcion_local, Length: 3818, dtype: object

In [57]:
# Guardamos la columna

datos['descripcion_local'] = datos['descripcion_local'].str.split()

In [62]:
# Ahora manipulemos datos comunidades
# 1. Limpiamos los datos ya que tiene llaves (el texto no esta almacenado en un diccionario)

datos['comodidades'].str.replace(r'\{|\"|\}', " ", regex=True)

0        Internet, Wireless Internet ,Kitchen, Free Pa...
1        TV,Internet, Wireless Internet ,Kitchen, Free...
2        TV,Internet, Wireless Internet ,Kitchen, Free...
3        Internet, Wireless Internet ,Kitchen, Free Pa...
4         Wireless Internet ,Kitchen, Free Parking on ...
                              ...
3813     TV, Cable TV ,Internet, Wireless Internet , A...
3814     TV, Cable TV ,Internet, Wireless Internet ,Ki...
3815     TV, Cable TV ,Internet, Wireless Internet , A...
3816     TV, Cable TV ,Internet, Wireless Internet , A...
3817     TV,Internet, Wireless Internet ,Kitchen, Free...
Name: comodidades, Length: 3818, dtype: object

In [63]:
#  Tokenización de la columna comodidades después de la limpieza

datos['comodidades'] = datos['comodidades'].str.split(",") # Aquí si ponemos una coma dentro de los parentesis porque ese es el divisor de las palabras

In [65]:
datos.head()

,evaluacion_general,experiencia_local,max_hospedes,descripcion_local,descripcion_vecindad,cantidad_baños,cantidad_cuartos,cantidad_camas,modelo_cama,comodidades,cuota_deposito,cuota_limpieza,precio
0,10.0,--,1,"[this, clean, and, comfortable, one, bedroom, ...",Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"[{Internet, ""Wireless Internet"", Kitchen, ""Fre...",0.0,0.0,110.0
1,10.0,--,1,"[our, century, old, upper, queen, anne, house,...","Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"[{TV, Internet, ""Wireless Internet"", Kitchen, ...",0.0,0.0,45.0
2,10.0,--,1,"[cozy, room, in, two-bedroom, apartment, along...",The convenience of being in Seattle but on the...,1,1,1,Futon,"[{TV, Internet, ""Wireless Internet"", Kitchen, ...",0.0,0.0,55.0
3,10.0,--,1,"[very, lovely, and, cozy, room, for, one, conv...","Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"[{Internet, ""Wireless Internet"", Kitchen, ""Fre...",0.0,20.0,52.0
4,10.0,--,1,"[the, studio, at, mibbett, hollow', is, in, a,...",--,1,1,1,Real Bed,"[{""Wireless Internet"", Kitchen, ""Free Parking ...",0.0,15.0,85.0

## Datos de tiempo

datetime es un tipo de datos que representa una fecha y hora específicas en Python. Permite trabajar y manipular datos de año, mes, día, hora, minuto, segundo y microsegundo, así como días de la semana, como lunes, martes, miércoles, etc.

Con él es posible realizar operaciones de cálculo de diferencias entre fechas, formatear fechas y horas en diferentes formatos, además de ser muy útil para analizar datos que involucran series temporales.


ahora = datetime.datetime.now()

print("Fecha y hora actual:", ahora)

hoy = datetime.date.today()

print("Fecha de hoy:", hoy)


La biblioteca datetime también le permite realizar operaciones matemáticas con fechas y horas. Vea un ejemplo de cómo calcular la diferencia entre dos fechas:
import datetime

**creando dos objetos date con fechas diferentes**
data_1 = datetime.date(2022, 1, 1)
data_2 = datetime.date(2023, 1, 1)

**calculando la diferencia entre las dos fechas**
diferencia = data_2 - data_1

print("Diferencia entre las dos fechas:", diferencia)

In [66]:
# Importamos nuestro archivo

dt_datetime = pd.read_json("inmuebles_disponibles.json")
dt_datetime.head()

    id       fecha  lugar_disponible precio
0  857  2016-01-04             False   None
1  857  2016-01-05             False   None
2  857  2016-01-06             False   None
3  857  2016-01-07             False   None
4  857  2016-01-08             False   None

In [67]:
dt_datetime.info()

# Observamos que en la columna fecha el tipo de dato es object y no fecha, vamos a cambiarlo.

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                365000 non-null  int64
 1   fecha             365000 non-null  object
 2   lugar_disponible  365000 non-null  bool
 3   precio            270547 non-null  object
dtypes: bool(1), int64(1), object(2)
memory usage: 11.5+ MB

In [68]:
# Cambiando el tipo de dato a Fecha

dt_datetime["fecha"] = pd.to_datetime(dt_datetime["fecha"])

In [69]:
# Verificamos que ahora "fecha" sea un dato del tipo fecha

dt_datetime.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                365000 non-null  int64
 1   fecha             365000 non-null  datetime64[ns]
 2   lugar_disponible  365000 non-null  bool
 3   precio            270547 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 11.5+ MB

### Prueba, cambiar el tipo de dato a fecha pero con un formato distinto.

In [70]:

# Creando el DataFrame con las informaciones
data_dates = pd.DataFrame({
    'Fecha de venta': ['01/01/2022', '05/02/2022', '10/03/2022', '15/04/2022','18/04/2022','20/04/2022'],
    'valor': [100, 150, 200, 250,80,180]
})

# Mostrando el DataFrame
print(data_dates)

  Fecha de venta  valor
0     01/01/2022    100
1     05/02/2022    150
2     10/03/2022    200
3     15/04/2022    250
4     18/04/2022     80
5     20/04/2022    180

In [71]:
data_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fecha de venta  6 non-null      object
 1   valor           6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 228.0+ bytes

In [74]:
data_dates["Fecha de venta"] = pd.to_datetime(data_dates["Fecha de venta"], format= "%d/%m/%Y")
data_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fecha de venta  6 non-null      datetime64[ns]
 1   valor           6 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 228.0 bytes

### Extraer información de la fecha

Usamos el método strftime para personalizar el formato de la fecha y obtener solo el año y el mes.

Solo de nuesto dataframe dt_datetime queremos extraer el año y el mes para que después analicemos cuantos lugares teniamos disponibles durante el mes y así lograr identificar que meses tenemos más o menos afluencia.

In [76]:
# Extraer el año y el mes de la columna 'fecha'

dt_datetime['fecha'].dt.strftime("%Y-%m")

0         2016-01
1         2016-01
2         2016-01
3         2016-01
4         2016-01
           ...
364995    2016-12
364996    2016-12
364997    2016-12
364998    2017-01
364999    2017-01
Name: fecha, Length: 365000, dtype: object

In [77]:
# Agrupar los datos por año y mes y sumar la cantidad de lugares disponibles

subset = dt_datetime.groupby(dt_datetime['fecha'].dt.strftime("%Y-%m"))["lugar_disponible"].sum()
subset

# El sum solo suma los valores booleanos true, que significa en nuestro dataframe que estaba disponible el lugar.
# Agrupamos primero por la fecha y despues por la columna booleana, que nos informa sobre la disponibilidad y esto se guarda en la variable subconjunto

fecha
2016-01    16543
2016-02    20128
2016-03    23357
2016-04    22597
2016-05    23842
2016-06    23651
2016-07    22329
2016-08    22529
2016-09    22471
2016-10    23765
2016-11    23352
2016-12    24409
2017-01     1574
Name: lugar_disponible, dtype: int64

**Se puede observar en en enero de 2016 había menos disponibilidad que en diciembre del mismo año**